<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hiya world</h1>
    <a href="http://localhost:4000/hey">greeting</a>
    <br>
    <br>
    <button id="btn">press alert</button>    
    <br>
    <br>
    <button id="btn2">press add user</button>
    <br>
    <br>
    <button id="btn3">press reg user</button>

    <script>
        document.getElementById("btn").addEventListener("click", function(){
            alert('hey');
        });

        document.getElementById("btn2").addEventListener("click", function(){
            fetch('http://localhost:4000/addUser')
            .then(res => res.json())
            .then(json => alert("success! " + json.doc));
        });

        document.getElementById("btn3").addEventListener("click", function(){
            fetch('http://localhost:4000/regUser')
            .then(res => res.json())
            .then(json => alert("success! " + json.doc));
        });



    </script>
</body>
</html>
